.button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5em;

  cursor: pointer;

  border-radius: 0.5rem;

  text-decoration: none;
  color: hsl(var(--gray-300));
  text-align: center;

  transition: color 100ms, background-color 100ms;
}

.button > svg {
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
}

.button[data-variant='outline'] {
  color: hsl(var(--primary-300));
  font-weight: 700;

  border-color: hsl(var(--primary-300));
  border-width: 1px;
  border-style: solid;
}

.button[data-variant='outline']:is(:hover, :focus-visible) {
  outline: transparent;
  background-color: hsla(var(--primary-300), 0.1);
}
